<%- include('../layout/header', { suppressHeader: true }) %>
<div class="flex flex-row">
  <h1 class="text-3xl font-bold mr-2"><%= description %></h1>    
  <div class="content-center">
    <h3>(
      <span id="num_joined_players_game_<%= id %>">
        <%= count %> 
      </span>
      / <%= number_players %> players )</h3>
  </div>  
</div>
<div class="flex flex-row">
  <div class="flex flex-col basis-3/4">
    <div class="flex flex-row mt-4">      
      <%- include("user-listing") %>
      <div class="float-right">
        Current turn:
        <span id="current_turn_game_<%= id %>"
          class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10"
        >
          <%= user_turn[0].first_name.concat(' ',user_turn[0].last_name) %>
        </span>
      </div>
    </div>
    <div class="flex flex-row my-8">
      <div class="flex basis-2/3 justify-center">
        <div class="uno-card W downCard mr-2"></div>
        <div class="uno-card G green1"></div>
      </div>
    </div>
    <div class="flex flex-row my-4">
      <h2 class="text-2xl font-bold mr-2">Your cards</h2>        
      <form action="/games/<%= id %>/play" method="post" id="play-form">
        <button
          type="submit"
          class="rounded-md bg-sky-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 mr-2"
        >
          Play
        </button>
      </form>
      <form action="/games/<%= id %>/draw" method="post" id="draw-form">
        <button
        type="submit"
        class="rounded-md bg-red-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 mr-2"
      >
          Draw
        </button>
      </form>      
      <form action="/games/<%= id %>/test" method="post" id="test-form">
        <button
        type="submit"
        class="rounded-md bg-green-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
      >
        Test
      </button>
      </form>
    </div>
    <fieldset class="mt-4">
      <div class="flex flex-row">
        <div class="basis-2/3">
          <%- include("card-listing") %>
          <!-- <div class="grid grid-cols-5"> section level
            individual card level          
            <label class="relative flex items-center justify-center hover:bg-gray-50 cursor-pointer bg-gray mt-2">
              <input id="1_yellow3" type="radio" name="size-choice" value="yellow3" class="sr-only" />
              <span class="pointer-events-none">
                <div class="uno-card R red3"></div>
              </span>
            </label> 
          </div>-->
        </div>
      </div>
    </fieldset>
    <input type="hidden" id="game-socket-id" name="game-socket-id" value="<%= game_socket_id %>" />
    <input type="hidden" id="user-socket-id" name="user-socket-id" value="<%= user_socket_id %>" />   
  </div>
  <div class="basis-1/4"><%- include("../chat/chat") %></div>
</div>

<div class="flex flex-row">
  <!-- <div class="basis-2/3 pr-10 flex flex-row pt-20">
    <div class="basis-1/6">
      <div class="flex flex-col items-center h-full">
        <img
          src="https://gravatar.com/avatar/<%= users[0].gravatar %>"
          class="h-10 w-10 rounded-full"
        />
        <p class="font-bold text-gray-800">
          <%= users[0].email.substring(0, users[0].email.indexOf("@")) %>
        </p>
        <div class="justify-self-end text-gray-600 text-xs">
          <% if (users.length === 2) { %> <%= users[0].cardCount %> cards left <% } else { %>
          Waiting... <% } %>
        </div>
      </div>
    </div>
    <div class="basis-1/6 flex">
      <div class="card card-facedown"><span></span></div>
    </div>
    <div class="basis-1/6 flex justify-end">
      <div class="basis-1/6 flex"><%- include("blank-card") %></div>
    </div>
    <div class="basis-1/6 flex"><%- include("blank-card") %></div>
    <div class="basis-1/6 flex justify-end">
      <div class="card card-facedown"><span></span></div>
    </div>
    <div class="basis-1/6">
      <div class="flex flex-col items-center h-full">
        <% if (users.length === 2) { %>
        <img
          src="https://gravatar.com/avatar/<%= users[1].gravatar %>"
          class="h-10 w-10 rounded-full"
        />
        <p class="font-bold text-gray-800">
          <%= users[1].email.substring(0, users[1].email.indexOf("@")) %>
        </p>
        <div class="justify-self-end text-gray-600 text-xs">
          <%= users[1].cardCount %> cards left
        </div>
        <% } else { %>
        <div class="justify-self-end text-gray-600 text-xs">Waiting...</div>
        <% } %>
      </div>
    </div>
  </div> -->  
</div>

<%- include('../layout/footer') %>
